@import url(http://fonts.googleapis.com/css?family=Vollkorn|Roboto);
.toggle-button {
  position: relative;
  padding: 9px 10px;
  height: 20px;
  width: 35px;
  cursor: pointer;
  z-index: 3;
  margin-bottom: 5px;
}

.bar {
  background-color: #323852;
  display: block;
  width: 100%;
  height: 3px;
  border: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.bar+.bar {
  margin-top: 6px;
}

.middle {
  top: 11px;
}

.bottom {
  top: 22px;
}

.toggle-button:hover {
  opacity: .7;
}

.toggle-active .bar {
  background-color: #fff;
}

.toggle-active .top {
  -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
}

.toggle-active .middle {
  opacity: 0;
}

.toggle-active .bottom {
  -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
}

.overlay {
  position: fixed;
  background-color: #323852;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
}

.nav-active {
  opacity: 1;
  visibility: visible;
  height: 100%;
  /*    max-height: 340px;*/
}

.overlay ul {
  display: block;
  height: 100%;
  position: relative;
  top: 160px;
  left: 0;
  font-size: 26px;
  list-style: none;
}

.overlay ul li {
  height: 50px;
  text-align: left;
  display: block;
  margin-bottom: 1em;
  /* position: relative; */
}

.overlay ul li a {
  color: #dadada;
  text-decoration: none;
  /* text-align: left; */
  font-family: "Muli";
  font-weight: 900;
  /* top: 0px; */
  letter-spacing: 1px;
  text-transform: uppercase;
  /* position: absolute; */
}

.no-scroll {
  overflow: hidden;
}

.logo-toggle {
  z-index: 200;
}

.poly-toggle {
  fill:"#222"
}

.fill-toggle {
  fill:#1f1f1f
}

.fill-tan {
  fill:#ECE3D8!important
}

.fill-blue {
  fill:#323852
}
