/* Slider */


/*
.slick-slider {
  position: relative;
  width: 100%%;
  margin: auto;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  max-height: 731px;
  overflow: hidden;
}

.slick-track:before, .slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slider {
  width: 600px;
  margin: 20px auto;
  text-align: center;
}

.slider button {
  background: #000;
}

.slider button:hover button:active button:visited {
  background: #000;
}

.slider div {
  margin-right: 5px;
}



.slick-slide {
  opacity: .6;
  height: 100%;
  width: 3.5%;
  margin-right: 3%;
}

.life-slide {
  background-size: cover;
  background-position: center center;
  min-height: 50vh;
  width:100%;
  overflow: hidden;
  padding-bottom: 5%;
  will-change: transform;
}

.center .slick-center .life-slide {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08, 1.08);
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08, 1.08);
}

.center .life-slide {
  opacity: 0.6;
  transition: all 2s ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  color: #3498db;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}*/


/* Slider */

.slick-slider {
  max-width: 60rem;
  position: relative;
  width: 90%;
  margin: auto;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  /*overflow:hidden; this may need to be enabled if images are stacking below on resize*/
  margin: 0;
  padding: 1rem 1rem !important;
  min-height: 30rem;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  max-height: 731px;
  overflow: visible;
}

.slick-track:before, .slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  /*display: none;*/
  float: left;
  opacity: .6;
  height: 90%;
  z-index: 0;
  position: relative;
  width: 3.5%;
  margin-right: 100px;
  transition: opacity 1s;
  width: 100%;
  &:focus, &:hover {
    outline: 0;
  }
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  height: auto;
  width: 100%;
}

.slick-center {
  opacity: 1!important;
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08, 1.08);
  transform: scale(1.08, 1.08);
  box-shadow: 0 15px 35px rgba(50, 50, 93, .4), 0 5px 15px rgba(0, 0, 0, .4);
  color: #e67e22;
  opacity: 1;
  z-index: 1000;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}


/* Slider */

.slick-loading .slick-list {
  background: #fff url('./ajax-loader.gif') center center no-repeat;
}


/* Arrows */

.slick-prev, .slick-next {
  position: absolute;
  /*left: 50%!important;*/
  transform: translateX(-50%);
  font-size: 0;
  line-height: 0;
  top: 110%;
  display: block;
  width: 30px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-next {
  left: 55%!important;
}

.slick-prev {
  left: 40%!important;
}

.slick-disabled {
  opacity: .3!important;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before, .slick-next:before {
  font-family: 'FontAwesome';
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  opacity: .75;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: opacity 0.25s;
}

[dir='rtl'] .slick-prev {
  right: 0;
  left: auto;
}

.slick-prev:before {
  content: '\f104';
}

[dir='rtl'] .slick-prev:before {
  content: '\f105';
}

[dir='rtl'] .slick-next {
  right: auto;
  left: 0;
}

.slick-next:before {
  content: '\f105';
}

[dir='rtl'] .slick-next:before {
  content: '\f104';
}


/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  position: absolute;
  bottom: 16px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 8px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 16px;
  height: 16px;
  padding: 8px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'FontAwesome';
  font-size: 16px;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  content: '\f111';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: opacity 0.25s;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}


/**
 * Photo
 */

.photo {
  /*-webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;*/
  -webkit-transition: -webkit-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: transform 500ms ease;
  background-size: cover;
  background-position: center center;
  /*min-height: 10em;*/
  padding-bottom: 35rem;
  /*transition: all 1s ease;*/
  /*will-change: transform;*/
}

.photo:focus {
  outline: 0;
}

@media (max-width:1024px) {
  .photo {
    padding-bottom: 25rem;
  }
}

@media (max-width:768px) {
  body {
    padding: 0px!important;
  }
  .photo {
    padding-bottom: 25rem;
  }
  .slick-list {
    min-height: 25rem;
  }
  .slick-slide {
    margin-right: 0px!important;
  }
}

@media (max-width:500px) {
  .photo {
    padding-bottom: 15rem;
  }
  .slick-list {
    min-height: 15rem;
  }
}


/*@keyframes scale {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.1) rotate(0.01deg); // Rotate fixes shaking animation in some browsers. http://stackoverflow.com/questions/28992549/internet-explorer-and-css-transform-value-of-scale-on-keyframes
  }
}*/


/**
 * Wrapper
 */

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 45em;
  width: 90%;
}
